@font-face{
    font-family: "myFont";
    src: url("../html/Secret\ Winter.ttf")
  }


/**********************************FORMULAIRE****************************************/ 
.facts {
    background: linear-gradient(
        rgba(254, 183, 197, 0.9),
        rgba(253, 231, 233, 0.9)
      )
  }

.title-contact {
    text-align: center;
  }
  
  .title-contact after {
    content: "";
    width: 60px;
    display: block;
    margin: 0 auto;
    border-bottom: 3px solid #77836A;
  }
  
  .title-contact-top {
    font-family: "myFont", sans-serif;
    display: block;
    font-size: 50px;
  }
  
  .title-contact-main {
    font-weight: bold;
    text-transform: uppercase;
    transform: scale(0.95, 1);
    font-size: 30px
  }

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #77836A;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #77836A;
}

.container {
  border-radius: 5px;
  background-color: #77836A;
  padding: 20px;
}


.imagesend { display: flex;
  justify-content: space-around;
 }

 /**********************************FORMULAIRE****************************************/ 