
/*******************Composants CSS**********************/

@import url('components/avis.css');
@import url('components/contact.css');
@import url('components/nos_produits.css');

/*******************Composants CSS**********************/


@font-face{
  font-family: "myFont";
  src: url("../html/Secret\ Winter.ttf")
}


/***************************************************CECI EST LE HEADER******************************************************/
  html {
    background-color: white;
    font-size: 62.5%;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
  }
  
  body,
  html {
    margin: 0;
    padding: 0;
    background: url('../images/fond_test_3.png') no-repeat center fixed;
    background-size: 1800px;  
    
  }

  a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    
  }
  
  .title-group {
    text-align: center;
    
  }
 
  .title-group-top {
    font-family: "myFont", sans-serif;
    display: block;
    
  }
  .title-group-top p {
    color : white;
  }
  .title-group-main {
    font-weight: bold;
    text-transform: uppercase;
    transform: scale(0.95, 1);
    
  }
 
  header {
   
    background: url(../images/fond_rose.svg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover;    
  }
  
  .header-top {
    padding-top: 20px;   
  }
  
  
  .header-menu {
    font-size: 2em;
    list-style: none;
    float: center;   
    text-decoration: none; 
  }
  
  ul.header-menu li {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    margin-right: 52px;
    border-bottom: 2px solid transparent;
    padding-bottom: 7px;  
  }
 
  
  ul.header-menu li:hover {
    border-color: white;
    color: white;  
  }
  
  header .title-group {
    margin: 135px 180px 0 180px;
    text-decoration: none;
  }
  
  header .title-group-top {
    margin-bottom: 25px;
    font-size: 7.2em;
    text-decoration: none;
  }
  
  header .title-group-main {
    font-size: 15em;
    line-height: 140px;
    text-decoration: none;
  }
  
  .header-menu-sprite {
    background-image: url(https://i.lensdump.com/i/83Op13.png);
    background-repeat: no-repeat;
    display: inline-block;
  }
  
  .sprite-cart {
    width: 18px;
    height: 15px;
    background-position: -5px -5px;
    text-decoration: none;
  }
  
  .sprite-search {
    width: 18px;
    height: 18px;
    background-position: -33px -5px;
    text-decoration: none;
  }
  
  .header-button {
    outline: 3px solid white;
    outline-offset: -3px;
    width: 160px;
    height: 40px;
    font-size: 1.4em;
    margin: 50px auto 155px auto;
    display: block;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  
  .header-button:hover {
    color: black;
    outline-color: black;
    text-decoration: none;
    text-decoration: none;
  }
  
  .header-slider {
    counter-reset: item;
    list-style-type: none;
    padding: 20px;
    text-decoration: none;
  }
  
  
  .header-slider li:before {
    content: "0" counter(item) "  ";
    counter-increment: item;
    font-size: 1.3em;
    font-weight: bold;
    border-top: 3px solid transparent;
    padding-right: 50px;
    padding-top: 20px;
    text-decoration: none;
    
  }
  
  .header-slider li:hover {
    opacity: 1;
    text-decoration: none;
  }
/***************************************************CECI EST LE HEADER******************************************************/
/***************************************************UN PEU PLUS SUR NOUS****************************************************/
  .about-us {
    color: black;
    
  }
  .about-us .title-group {
    margin-top: 90px;
  }
  
  .about-us .title-group-top {
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  .about-us .title-group-main {
    font-size: 30px;
  }
  
  .about-us .title-group:after {
    margin-top: 31px;
  }
  
  .about-us .card-presentation{
    display: flex;
    justify-content: space-around;
  }  
/***************************************************UN PEU PLUS SUR NOUS****************************************************/ 
/***************************************************PHOTOS PRODUITS*********************************************************/ 
  .about-us .images-group {
    margin-bottom: 110px;
    margin-left: 100px;
  }
  
  .about-us .images-group [class^="images-group-child"] {
    width: 31.4%;
    height: 250px;
    float: left;
    vertical-align: middle;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .about-us .image-hover {
    display: none;
  }
  
  .image-hover p {
    display: block;
  }

  
  .about-us [class^="images-group-child"]:hover .image-hover {
    color: white;
    font-weight: bold;
    font-size: 1.8em;
    z-index: 1;
    position: absolute;
    left: -10px;
    top: -10px;
    right: 10px;
    bottom: 10px;
    text-align: center;
    display: inherit;
  }

.about-us .images{
  display: flex;
  justify-content: space-around;
  
}

.about-us .images .Dana{
  margin-left : -10px;

}


.about-us .images .Noor{
  margin-left : -250px;

}

.about-us .images .Dana p{
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    line-height: 1.9em;
    text-align: justify;
    margin: 36px auto 95px auto;
    width: 65%;
    display: block;
    margin: 30px;
    margin-left:120px;
}


.about-us .images .Noor p{
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    line-height: 1.9em;
    text-align: justify;
    margin: 36px auto 95px auto;
    width: 65%;
    display: block;
    margin: 30px;
    margin-left:170px;
}


.title-discover {
    text-align: center;
  }
  
.title-discover-top {
    font-family: "MyFont";
    display: block;
    font-size: 50px;


  }
/***************************************************PHOTOS PRODUITS*********************************************************/   
/***************************************************BLOG 1 COMPO************************************************************/ 
  
  .title-blog-main {
    font-weight: bold;
    text-transform: uppercase;
    transform: scale(0.95, 1);
    font-size: 30px
  }

  .blog1 {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-top: 50px;
 
  }

  .blog1 img {
    width: 40%;
    height: 550px;
    margin-top:300px;
    margin-left: 80px;
   
  }


.titretexte { 
width: 50% }
  .blog2 {display: flex;
      justify-content: flex-end;

    margin-top: 50px;
  }

  .title-compo .title-blog-text1 {
    font-family: "myFont";
    display: block;
    font-size: 30px;
    margin-left:100px;
    
  }

  .blogtext1 {
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    line-height: 1.9em;
    text-align: justify;
    margin: 36px auto 95px auto;
    width: 65%;
    display: block;
    margin: 30px;
    margin-left:120px;
  }
/***************************************************BLOG 1 COMPO************************************************************/ 
/***************************************************BLOG 2 COMPO************************************************************/ 
  .blog2 {display: flex;
      justify-content: space-around;
      align-items: center; 
    margin-top: 50px;
  }

  .blog2 img {
    width: 40%;
    height: 600px;
    margin-left: -500px;
    margin-top: -50px;
  }


.titretexte2 { 
width: 50% }
  .blog2 {display: flex;
      justify-content: space-around;
    margin-top: 50px;
  }

  .title-blog-text2 {
    font-family: "myFont", sans-serif;
    display: block;
    font-size: 30px;}

  .blogtext2 {
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    line-height: 1.9em;
    text-align: justify;
    margin: 36px auto 95px auto;
    width: 65%;
    display: block;
    margin: 30px;
  }
/***************************************************BLOG 2 COMPO************************************************************/   
/***************************************************FORMULAIRE**************************************************************/  

.facts {
    background: #77836A;
  }

.title-contact {
    text-align: center;
  }
  
  .title-contact after {
    content: "";
    width: 60px;
    display: block;
    margin: 0 auto;
    border-bottom: 3px solid #77836A;
  }
  
  .title-contact-top {
    font-family: "myFont", sans-serif;
    display: block;
    font-size: 50px;
  }
  
  .title-contact-main {
    font-weight: bold;
    text-transform: uppercase;
    transform: scale(0.95, 1);
    font-size: 30px
  }

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid white;
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #77836A;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #77836A;
}

.container {
  border-radius: 5px;
  background-color: #77836A;
  padding: 20px;
}


.imagesend { display: flex;
  justify-content: space-around;
 }
/***************************************************DROITS Réservés************************************************************/ 
.copy {
  text-align: center;
  color :black;
}

.alert {
  background-color: #77836A;
  
}


/***************************************************Responsive*****************************************************************/ 
@media  screen and (max-width: 600px) {

  body,html {
    margin: 0;
    padding: 0;
    background: url('../images/fond_test_3.png') fixed;
    
  }

  header {
    background: url(../images/fond_rose.svg) no-repeat fixed ; 
    background-size: cover;   
  }

  .header-top-overflow{
    padding-top: 10px; 
    text-decoration:none;
  }

  .header-menu{
    font-size: 0.5em;
    list-style: none;
    text-align:left;
    white-space:nowrap;
    display: flex;
    justify-content: space-between;
  }

  .title-group .title-group-top {
    font-family: "myFont", sans-serif;
    margin-left: -160px;
    
    
    white-space:pre;
    font-size: 18px;
  }
  
  .title-group .title-group-main {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: -100px;
    font-size: 40px;
  }

  .about-us .title-group-top {
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
  }
  
  .about-us .title-group-main {
    font-size: 30px;
    margin-left: 30px;
  }


  .about-us .images .Dana img{
    max-width: 100%;
    height: auto;
    margin-left: 40px;
    
  
  }
  
  
  .about-us .images .Noor img{
    margin-top: 700px;
    max-width: 100%;
    height: auto;
    margin-left: -50px;
    
  
  }
  
  .about-us .images .Dana p{
      color: #999999;
      font-family: "Roboto", sans-serif;
      font-size: 1.2em;
      line-height: 1.9em;
      text-align: justify;
      width: 100%;
      display: block;
      margin-left:40px;
  }
  
  
  .about-us .images .Noor p{
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    line-height: 1.9em;
    text-align: justify;
    width: 100%;
    display: block;
    margin-left:-30px;
  }


  .title-discover {
    text-align: center;

  }
  
.title-discover-top {
    font-family: "MyFont";
    display: block;
    font-size: 30px;
    margin-top: -100px;

  }
/*produits*/

  .about-us .images-group {
    margin-top:-50px;
    margin-left: 10px;
  }
 /*blog 1*/ 
/****************changer le titre ************************************/


.blog1 {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  margin-top: 900px;
}

.blog1 img {
  width: 300px;
  height: 300px;
  margin-top: -80px;
  margin-left: -10px;
 
}

.title-compo .title-blog-text1 {
  font-family: "myFont", sans-serif;
  display: block;
  white-space: pre;
  font-size: 18px;
  margin-left: -80px;
  margin-top: -570px;
  }

.titretexte1 { 
  width: 50% 
}

.blog1 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}


 .blogtext1 {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  line-height: 1.9em;
  text-align: justify;
  width: 160%;
  display: block;
  margin-left:-60px;
  margin-top: 350px;
}
/********************************************************/
/**************************blog 2******************************/

.blog2 {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  margin-top: 50px;
}

.blog2 img {
width: 300px;
height: 300px;
margin-left: -350px;
margin-top: -350px;

}

.titretexte2 { 
  width: 50% 
}

.blog2 {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.title-blog-text2 {
font-family: "myFont", sans-serif;
display: block;
white-space: pre;
font-size: 18px;
margin-left: -15px;
}

.blogtext2 {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  line-height: 1.9em;
  text-align: justify;
  width: 160%;
  display: block;
  margin-left:-10px;
  margin-top: 300px;
}

.imagesend img{ 
  display: flex;
  justify-content: space-around;
  height:100px;
  width: 110px;

 }


}


